/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-nov-2019, 20:19:50
    Author     : IVAN
*/

.button {
    background-color: #222222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #EEEEEE;
    margin: 0;
    display: inline-block;
    border: none;
    width: 100%;
}

.button:hover {
    background-color: black;
}